{
  "extends": ["next", "next/core-web-vitals", "plugin:@typescript-eslint/recommended"],
  "env": {
    "jest": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "semi": "error",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "@next/next/no-img-element": "off",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
