.footer {
  height: 3.75rem;
}

.copyright {
  margin: auto;
}

.toggleLanguages {
  cursor: pointer;
  padding: 8px;
  border-radius: 2px;
  border: 1px solid gray;
}

.languagePopup {
  padding: 8px 12px;

  a {
    font-size: 1rem;
  }
}

.selectBody {
  & > div:first-of-type {
    border-bottom: 1px solid gray;
    padding-bottom: 4px;
  }
}

.active {
  a {
    color: #007bff;
  }
}
