.homeWrapper {
  min-height: calc(100vh - 110px);
  padding: 20px;
}

.searchWrapper {
  margin-bottom: 20px;
}

.searchBtnWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  button {
    position: relative;
    top: 8px;
    margin-right: 10px;

    @media (max-width: 991px) {
      top: 0;
    }
  }
}

.listWrapper {
  display: block;
}

.videoItem {
  display: block;
  margin-bottom: 20px;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);

  &:hover {
    text-decoration: none;
    -moz-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.card {
  height: 330px;
}

.imgWrapper {
  height: 200px;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }
}

.cardBody {
  padding: 10px;
  text-align: center;
}

.cardDes {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
