.homeWrapper {
  display: flex;
  min-height: calc(100vh - 120px);
}

.sidebar {
  padding-top: 12px;
  background-color: white;
  flex-shrink: 0;
  transition: all ease-in-out 0.5s;
  box-shadow: 6px 0 6px -2px rgba(0, 0, 0, 0.1);
}

.videoList {
  padding: 24px;
  flex-grow: 1;
}

.searchWrapper {
  margin-bottom: 20px;
}

.listWrapper {
  display: block;
}

.videoItem {
  display: block;
  margin-bottom: 20px;
  color: black;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

.card {
  height: 330px;
}

.imgWrapper {
  height: 200px;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }
}

.cardDes {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cardMoreAction {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 16px;
  height: 30px;
  border-radius: 8px;

  &:hover {
    background-color: #efefef;
  }

  i {
    font-size: 24px;
  }
}

.dropDownMenu {
  div {
    &:hover {
      background-color: #eaeaea;
    }
  }
}
