html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
a,
p,
span,
button,
label {
  font-family: 'Roboto', Segoe UI, Oxygen, Ubuntu, sans-serif !important;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

/*********************
********CUSTOM********
*********************/
.auth-form {
  .card-body {
    box-shadow: inset 0 4px 0 0 #007bff;
    border-radius: 10px;
  }
}

.navbar-light .navbar-nav .nav-link > div {
  overflow: visible !important;
}

.main-content-container {
  min-height: calc(100vh - 120px);
  max-height: calc(100vh - 7.5rem);
  overflow-y: auto;

  @media (max-width: 847px) {
    min-height: calc(100vh - 155px);
  }
}

.dropdownNavbar.dropdown-toggle::after {
  position: relative;
  top: -12px;
}

.error-text {
  color: red;
  font-size: 1rem;
  margin: 5px 0 0;
}

/* User profile */

/* User details card */
.edit-user-details {
  .card-header {
    overflow: hidden;
  }

  .form-control {
    height: 37px;
  }

  .nav-tabs .nav-item {
    margin-bottom: 0;
  }

  .card-body {
    z-index: 1;
  }

  // User avatar
  &__avatar {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    max-width: 120px;
    text-align: center;
    margin: 0 auto 20px !important;

    img {
      width: 100%;
    }

    &__change {
      margin: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      position: absolute;
      text-align: center;
      border-radius: 50%;
      font-size: 30px;
      background: rgba(#fff, 0.95);
      transition: all 0.3s sease-in-out;

      i {
        color: #818ea3;
        line-height: 120px;
      }
    }

    &:hover {
      .edit-user-details__avatar__change {
        opacity: 1;
        cursor: pointer;
      }
    }
  }

  // Profile card background image
  &__bg {
    width: 100%;
    position: relative;
    max-height: 115px;

    img {
      width: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(#5a6169, 0.5);
      transition: background-color 0.3s ease-in-out;
    }

    .edit-user-details__change-background {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      opacity: 1;
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, 0.06);
      border: 1px dashed rgba(#e9ecef, 0.3);
      padding: 7px 15px;
      color: #fff;
      // border-radius: 4px;
      box-shadow: 4px;
      font-size: 12px;
      will-change: opacity 0.5;
      transition: all 0.3s sease-in-out;

      &:hover {
        cursor: pointer;
        transform: translate(-50%, -50%) scale(1.05);
      }

      i {
        font-size: 15px;
        top: 2px;
      }
    }
  }
}

/* Modal */
.modal-backdrop.show {
  opacity: 0.6;
}

.modal-header {
  background-color: #007bff;
  padding: 0.8rem 2.1875rem;
  justify-content: center;

  .modal-title {
    color: #fff;
  }
}

.modal-body {
  max-height: 600px;
  overflow: auto;
}

/*********************
*****CLIENT PAGES*****
*********************/
.client-navbar {
  height: 60px;
  -webkit-box-shadow: 0 0.125rem 0.625rem rgb(90 97 105 / 12%);
  box-shadow: 0 0.125rem 0.625rem rgb(90 97 105 / 12%);
  border-bottom: 1px solid #e1e5eb !important;

  img.logo {
    height: 32px;
  }
}

.table td,
.table th {
  vertical-align: middle;
  padding: 0.6em;
}

.page-title {
  font-size: 26px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 2px;
}

i.material-icons {
  font-size: 16px;
}

.hover-underline {
  &:hover {
    text-decoration: underline;
  }
}

.cursor-pointer {
  cursor: pointer;
}
