.wrapper {
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
  overflow-x: hidden;
  min-height: calc(100vh - 116px);
}

.backBtnWrapper {
  margin-bottom: 15px;
}

.playerWrapper {
  margin-bottom: 20px;

  @media (max-width: 991px) {
    height: 400px !important;
  }
}

.metaInfoWrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;

  @media (max-width: 991px) {
    flex-direction: column;
  }
}

.metaInfoLeft {
  flex: 1 0 auto;
}

.vidName {
  margin-bottom: 10px;
}

.vidDes {
  margin: 0;
  font-weight: 400;
  margin-bottom: 10px;
}

.btnMeta {
  border: none;
  background-color: transparent;
  margin-right: 10px;
  font-size: 16px;
  color: #5a6169;

  &.active {
    color: #007bff;
    border-bottom: 1px solid #007bff;
  }
}

.iconMeta {
  font-size: 20px !important;
  margin-right: 5px;
}

.iconRate {
  top: 0 !important;
}

.textNextto {
  vertical-align: top;
}

.ratingWrapper {
  text-align: right;

  @media (max-width: 991px) {
    text-align: left;
  }
}

.baseRatingText {
  margin-right: 5px;
  font-weight: 400;
  position: relative;
  top: 2px;
}

.videoSection {
  height: 600px;
  border: 1px solid #007bff;
  border-radius: 5px;

  @media (max-width: 991px) {
    max-width: 600px;
    margin: 0 auto 30px;
  }
}

.sectionHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  height: 40px;
  font-weight: 400;
}

.sectionContent {
  position: relative;
  height: calc(100% - 40px);
  overflow-x: hidden;
  overflow-y: auto;
}

.sectionItem {
  cursor: pointer;
  border-bottom: 1px solid #cacaca;
  padding: 10px;
  min-height: 95px;

  &:first-child {
    border-top: 1px solid #cacaca;
  }

  &:last-child {
    border: none;
  }

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz--transition: all 0.3s ease-in-out;
}

.sectionLabel {
  margin-bottom: 5px;
  color: #000;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz--transition: all 0.3s ease-in-out;
}

.sectionTime {
  color: #007bff;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz--transition: all 0.3s ease-in-out;
}

.sectionItemActive {
  .sectionLabel,
  .sectionTime {
    color: #fff;
  }

  background-color: #007bff;
}

.searchAnnoInput {
  border-left: none;
  border-right: none;
  border-radius: 0 !important;
  border-bottom: 1px solid #becad6 !important;
}

.noSection {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz--transform: translate(-50%, -50%);
}

.thumbnailImg {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.loadingPlaceholder {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-weight: 600;
}

.checkLabel {
  margin-bottom: 20px;

  > input {
    left: 1px;
    z-index: 1;
    cursor: pointer;
  }
}

.ratingModalWrapper {
  margin-bottom: 20px;
}

.vidEval {
  margin-right: 10px;
  font-weight: 400;
  position: relative;
  top: 3px;
}

.commentSection {
  border-top: 1px solid #becad6;
  padding-top: 30px;

  @media (max-width: 991px) {
    margin: 0 auto 30px;
  }
}

.commentCount {
  font-size: 22px;
  margin-bottom: 20px;
}

.userCommentWrapper {
  margin-bottom: 20px;
}

.contentWrap {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 10px;
}

.avatarWrapper {
  margin-right: 20px;

  img {
    border-radius: 50%;
  }
}

.commentInputWrapper {
  flex: 1 0 auto;
}

.inputRdr {
  border: none;
  border-bottom: 2px solid #becad6;
  width: 100%;
  outline: none;
  height: 100%;
  padding: 0;
}

.highlightInput {
  border-bottom-color: #006fe6;
}

.btnGroupWrapper {
  text-align: right;
}

.commentItemWrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  margin-bottom: 10px;
  padding: 10px 0;
  min-height: 70px;

  &:last-child {
    border: none;
  }
}

.commentMetaInfo {
  flex: 1 0 auto;
}

.infoWrapper {
  display: flex;
  justify-content: space-between;
}

.btnInfo {
  button {
    color: #5a6169;
    border: none;
    background-color: transparent;
    margin-right: 5px;
    padding: 0 5px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: #007bff;
    }
  }
}

.btnGroup {
  margin-bottom: 10px;

  button:last-child {
    margin-right: 0;
  }
}

.commentName {
  font-weight: 500;
  margin-right: 10px;
}

.btnInnerCommentWrapper {
  width: 100%;
  margin-top: 10px;
  text-align: right;
}
