.mainSidebar {
  top: 0;
  position: fixed;
  height: 100vh;
  background: #fff;
  z-index: 1;
  will-change: transform;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  box-shadow: 0 0.125rem 9.375rem rgb(90 97 105 / 10%),
    0 0.25rem 0.5rem rgb(90 97 105 / 12%),
    0 0.9375rem 1.375rem rgb(90 97 105 / 10%),
    0 0.4375rem 2.1875rem rgb(165 182 201 / 10%);

  @media (max-width: 767.98px) {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    box-shadow: none;
  }
}

.menuOpen {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.navbar {
  height: 3.75rem;
  padding: 15px;
  border-bottom: 1px solid #e1e5eb !important;
}

.navbarBrand {
  width: 100% !important;
  margin-right: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;

  img {
    height: 32px;
  }
}

.navWrapper {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 3.75rem - 1px);
}

.navTitle {
  text-transform: uppercase;
  margin: 0;
  font-size: 0.625rem;
  letter-spacing: 0.125rem;
  padding: 1px 1.5625rem;
  font-weight: 500;
  color: #9ea8b9;
  border-bottom: 1px solid #e1e5eb;
}

.navUlWrapper {
  border-bottom: 1px solid #e1e5eb;
  flex-direction: column !important;
  cursor: pointer;
}

.navLink {
  font-weight: 400;
  color: #3d5170;
  padding: 0.9375rem 1.5625rem;

  &:hover {
    background-color: #fbfbfb;
  }
}

.toggleSidebar {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 20px;
  font-size: 18px;
  line-height: 18px;
  border-left: 1px solid #e1e5eb;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.itemIconWrapper {
  position: relative;
  top: 4px;
  margin-right: 10px;
  display: inline-block !important;

  i {
    font-size: 22px;
  }
}
