.mainNavbar {
  box-shadow: 0 0.125rem 0.625rem rgb(90 97 105 / 12%);
}

.navbar {
  padding: 0 !important;
  flex-wrap: nowrap !important;
  align-items: stretch !important;
  height: 3.75rem;
}

.img {
  overflow: visible;
}

.dropdownMenu {
  position: absolute !important;
  right: 0;
  left: auto;
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;

  @media (max-width: 767.98px) {
    left: 10px;
  }
}
